<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title th:text="${title}">Insert title here</title>
	</head>
	<body>
		<h1 th:text="${title}">Title</h1>
		<div th:if="${users.isEmpty()}">No users found! :(</div>
		<table th:if="${!users.isEmpty()}"  border="1">
			<thead >
				<tr>
					<th>Name</th>
					<th>Surname</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user:${users}"> 
					<td th:text="${user.name}" ></td>
					<td th:text="${user.surname}" ></td>
					<td th:text="${user.email}" ></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>